# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env
.env.*

# Build artifacts
target/
dist/
node_modules/

# Runtime state
tooling/state/
tooling/logs/
